@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .bg-footer {
    background-image: url('/images/footer-bg.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .scaler-card {
    opacity: 1;
    background-image: linear-gradient(140deg, rgba(90, 90, 90, 0.28) 0%, rgba(28, 28, 28, 1) 100%);
  }
  .text-scaler-green {
    opacity: 1;
    color: rgba(209, 253, 96, 1);
    font-weight: 700;
    font-style: Bold;
  }

  .border-light-green {
    border-color: rgba(209, 253, 96, 0.3);
  }

  .bg-grey {
    background-color: #838383;
  }

  .scaler-button {
    border-radius: 15px;
    opacity: 1;
    background-image: linear-gradient(140deg, rgba(90, 90, 90, 0.28) 0%, rgba(28, 28, 28, 1) 100%);
  }
}